* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: #011F39;
  border-radius: 1vw;
}

/*Header*/

.title-header{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  pointer-events: none;
}

.title{
  margin-top: 1vw;
  text-align: center;
  background-color: #fff;
  width: 25vw;
  height: 2vw;
  border-radius: 0.3vw;
  font-size: 1vw;
}

/*mapa*/
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*menu hamburguer*/

.menu-bar {
  display: flex;
  justify-content: center;
  width: 4vw;
  height: 4vw;
  max-height: 10vw;
  max-width: 10vw;
  position: absolute;
  margin-top: 1vw;
  margin-left: 1vw;
  background-color: #fff;
  -webkit-box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 4px 24px -7px rgba(0, 0, 0, 0.75);
  border-radius: 0.2vw;
}

.menu-bar.hide {
  height: 0%;
  width: 0%;
  pointer-events: none;
  display: none;
}

#menuBarButton,
#exitListButton {
  all: unset;
  cursor: pointer;
}

#menuBar{
  height: 3vw;
  width: 3vw;
}


/*lista*/

.event-list {
  flex-direction: column;
  background-color: #fff;
  width: 23%;
  min-height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  transition: width 0.5s ease-in-out;
  -webkit-box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  -moz-box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  box-shadow: 14px 4px 16px -12px rgba(28, 28, 28, 0.43);
  position: absolute;
}

.event-list.hide {
  height: 0%;
  width: 0%;
  pointer-events: none;
}

#exitList {
  height: 1vw;
  width: 1vw;
}

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1vw;
  width: 100%;
}

.date-search{
  width: 100%;
  padding-top: 1vw ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5vw;
}

.date-search label{
  font-size: 1vw;
}

.exit{
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5vw;
}

#searchEvent{
  width: 20vw;
  height: 2vw;
}

.date-ini,
.date-end{
  display: flex;
  flex-direction: column;
}

/*Card*/


.card{
  margin-top: 1vw;
  margin-left: 0.5vw;
  background-color: #011F39;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.2vw;
  gap: 1vw;
  -webkit-box-shadow: -1px 12px 34px -28px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 12px 34px -28px rgba(0,0,0,0.75);
box-shadow: -1px 12px 34px -28px rgba(0,0,0,0.75);
}

#card-title{
  font-size: 1.2vw;
  padding-top: 1vw;
  padding-left: 1vw;
  background-color: #043057;
  padding-bottom: 0.5vw;
}

#desc{
  font-size: 0.9vw;
  padding-left: 0.5vw;

  
}

#dates{
  font-size: 0.9vw;
  padding-left: 0.5vw;
}

#showButton{
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
  padding-bottom: 1vw;
}